<h3>Title: <%= @comic.title %></h3>
<h5>Publisher: <%= @comic.publisher %></h5>
<h5>Illustrator: <%= @comic.illustrator %></h5>
<h5>Year Published: <%= @comic.year_published %></h5>
<h5>Condition: <%= @comic.condition %></h5>
<h5>ASIN: <%= @comic.ASIN %></h5>

<h3>Leave a Review</h3>
